body, html {
  height: 100%;
  background: #222;
}

.bg { 
  /* The image used */
  background-image: url("../static/1.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  padding-top: 2em;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  color: white;
  font-size: 1.2em;
  height: 2.5em;
}

.look-at-me {
  width: 100%;
  margin: 2em auto;
}

.video, #screenshot img {
  width: 100vw;
}

section#person-class {
  width: 80vw;
  margin: 1em auto;
  border: 2px solid #522d7b;
  padding: 1em;
  font-size: xx-large;
  line-height: 1.2em;
  color: white;
}


.error#recording {
  border: 2px solid red;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  display: block;
  height: 2.5em;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  padding-top: 1em;
}

#loading {
  margin: 2em auto;
}